.deep-orange-lighter-hover {
  color: #212121;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.deep-orange-lighter-hover:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #ff4444;
}

@media (max-width: 576px) {
  .slider {
    height: 60vh;
  }
  .imagenSintomas {
    width: 50%;
    margin-top: 1px;
    padding-top: 1px;
  }
}
.sizer {
  width: 300px;
}
.bordesintomas {
  border-top: black 5px dashed;
  border-right: green 10px double;
  border-bottom: blue 10px dotted;
  border-left: red 5px solid;
}
p {
  word-spacing: -1px;
}

.tamaño {
  width: 650px;
  height: 350px;
}

html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 85vh;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 600px;
  }
}

.btn .fa {
  margin-left: 3px;
}

.top-nav-collapse {
  background-color: #2e2e2e !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: -moz-linear-gradient(
      45deg,
      rgba(42, 27, 161, 0.7),
      rgba(29, 210, 177, 0.7) 100%
    ) !important;
    background: -webkit-linear-gradient(
      45deg,
      rgba(42, 27, 161, 0.7),
      rgba(29, 210, 177, 0.7) 100%
    ) !important;
    background: -webkit-gradient(
      linear,
      45deg,
      from(rgba(42, 27, 161, 0.7)),
      to(rgba(29, 210, 177, 0.7))
    ) !important;
    background: -o-linear-gradient(
      45deg,
      rgba(42, 27, 161, 0.7),
      rgba(29, 210, 177, 0.7) 100%
    ) !important;
    background: linear-gradient(
      to 45deg,
      rgba(42, 27, 161, 0.7),
      rgba(29, 210, 177, 0.7) 100%
    ) !important;
  }
  .centrado {
    text-align: center;
  }
}

.btn-white {
  color: black !important;
}

h6 {
  line-height: 1.7;
}

.rgba-gradient {
  background: -moz-linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.7),
    rgba(29, 210, 177, 0.7) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.7),
    rgba(29, 210, 177, 0.7) 100%
  );
  background: -webkit-gradient(
    linear,
    45deg,
    from(rgba(42, 27, 161, 0.7)),
    to(rgba(29, 210, 177, 0.7))
  );
  background: -o-linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.7),
    rgba(29, 210, 177, 0.7) 100%
  );
  background: linear-gradient(
    to 45deg,
    rgba(42, 27, 161, 0.7),
    rgba(29, 210, 177, 0.7) 100%
  );
}

/* tabla*/

.pt-3-half {
  padding-top: 1.4rem;
}
